<div class="container-fluid nospace">
  <div class="nav-bg wrapper-back">
    <div id="detail-page-header">

      <div class="col-xs-2 toppad"><img src="../../../../images/back-btn.svg" alt="" (click)="goBack()"></div>
      <div class="col-xs-7 text-center">
        <h1 class="t-agent">Claims</h1>
      </div>
      <div class="col-xs-3 text-center tpad"><img src="../../../../images/filter.svg" alt=""><br><span
          class="edit-detail"><a data-toggle="modal" data-target="#filterPopupClaims">Filter</a></span></div>
    </div>
    <app-entity-name-header [entityModel]="entityModel"></app-entity-name-header>
  </div>

  <div class="container app-bg5 bottom-wrapper-for-back">
    <div class="row marginTop20">
      <ul>
        <li *ngFor="let item of claimsModels" (click)="onClaimSelected(item)">
          <div class="col-xs-12 col-md-6 cell-bg">
            <div class="agent-detail ag-perform">
              <h4>{{item.claimID}} <span class="textRight">Status: {{getStatus(item.stat)}}</span></h4>
              <span class="textDoller">{{item.LossAmmount | currency:'USD':"symbol-narrow":'1.0-0'}}</span>
              <div class="clearfix"></div>
              <div class="paddingTop5"></div>
              <span>{{item.summary}}</span>
              <div class="clearfix"></div>

            </div>
          </div>
        </li>
      </ul>
      <div class="row marginBottom20" *ngIf="moreDataAvailable">
        <div class="col-xs-12 col-md-12 loadMoreWp">
          <hr />
          <div class="loadMore"><a alt="Load More" (click)="onLoadMoreClick()">Load More</a></div>
        </div>
      </div>
      <div id="ratioView">{{totalAndCurrentRowsRatio}}</div>
    </div>
  </div>
</div>
<app-claims-filter></app-claims-filter>
