<div class="container-fluid nospace">
  <div class="container nav-bg wrapper">
    <div class="row">
      <div class="col-xs-2 toppad"><img src="../../../../images/back-btn.svg" alt="" (click)="goBack()"></div>
      <div class="col-xs-7 text-center">
        <h1 class="t-agent">Objective</h1>
      </div>
    </div>
  </div>
  <div class="container app-bg2 bottom-wrapper-for-back">
    <div class="row">
      <div class="col-xs-12 col-md-6 cell-bg">

        <div class="ag-obj-active">
          <div class="status">Status: <span>Active</span></div>
          <div class="d-date text-right">Due Date: 21/2/2019</div>
          <div class="clearfix"></div>
          <p>Certain Object which needs to be fulfilled to benefit this agent.</p>
        </div>

        <div class="ag-objective">
          <ul>
            <li class="complete">Complete</li>
            <li class="cancel">Cancel</li>
            <li class="edit">Edit</li>
          </ul>
        </div>
      </div>

      <!-- <button (click)="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-arrow-up"></span></button> -->
    </div>
  </div>
</div>
