<div class="container-fluid nospace">
  <div class="wrapper-back">
    <div class="container nav-bg">
      <div class="row">
        <div class="col-xs-2 toppad"><img src="../../../../images/back-btn.svg" alt="" (click)="goBack()"></div>
        <div class="col-xs-7 text-center">
          <h1 class="t-agent">Objective</h1>
        </div>
        <!-- <div class="col-xs-3 text-center tpad" *ngIf="!hideEditObjective"> -->
          <div class="col-xs-3 text-center tpad">
          <!-- <a alt="" (click)="openEditObjectiveDialog()"><img src="../../../../images/add.svg" alt=""><br>
            <span class="edit-detail">Edit Objective</span></a> -->
            <a><img src="../../../../images/add.svg" alt=""><br>Update</a>
        </div>
      </div>
    </div>
    <app-entity-name-header [entityModel]="entityModel"></app-entity-name-header>
  </div>
  <br>
  <div class="container app-bg2 bottom-wrapper-for-back cell-bg">
    <p>Objective: &nbsp; {{sentimentModel.objective}}</p>
  </div>
  <div class=" container app-bg2 bottom-wrapper-for-back cell-bg">
    <div class="row">
    <p>Sentiment of : &nbsp; {{sentimentModel.personName? sentimentModel.personName:"No Name Found"}}</p>
    
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

    <div class="col-xs-5">
    <input type="date" id="dt" formControlName="email" class="form-control" max={{this.datee}} (change)="handler($event);" style="width: 110%;">
    </div>

    <div class="col-xs-5">
      <input type="date" id="dt" formControlName="message" class="form-control" min={{this.dates}} max={{this.finalDate}} style="width: 110%;">
    </div>
    <div class="col-xs-2">
      <button type="submit">Send</button>

    </div>
  </form>
  </div>
    <br>
    <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
  </div>

</div>

