<div class="container app-bg2 news-container">
  <div class="row">
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="news">
        <h4>US Border Officials Don't</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
      </div>
      <div class="pic">
        <p></p>
      </div>

    </div>
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="news">
        <h4>US Border Officials Don't</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
      </div>
      <div class="pic">
        <p></p>
      </div>

    </div>
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="news">
        <h4>US Border Officials Don't</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
      </div>
      <div class="pic">
        <p></p>
      </div>

    </div>
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="news">
        <h4>US Border Officials Don't</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
      </div>
      <div class="pic">
        <p></p>
      </div>

    </div>
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="news">
        <h4>US Border Officials Don't</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
      </div>
      <div class="pic">
        <p></p>
      </div>

    </div>
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="news">
        <h4>US Border Officials Don't</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
      </div>
      <div class="pic">
        <p></p>
      </div>
    </div>
    <button (click)="topFunction()" id="myBtn" title="Go to top"><span
        class="glyphicon glyphicon-arrow-up"></span></button>
  </div>
</div>
