<div class="container app-bg2 news-container">
  <div class="row">

    <ul>
      <li *ngFor="let item of newsFeeds" (click)="onNewsClick(item)" >
        <div class="col-xs-12 col-md-6 cell-bg">
          <div class="news">
            <h4>{{item.title}}</h4>
            <!-- <a >Click Here For Mre Detail</a> -->

            <!-- <p >Click Here For More Detail</p> -->
          </div>
          <div class="pic">
            <p></p>
          </div>

        </div>
      </li>
    </ul>
  </div>
</div>
