<div class="bg">
    <div class="container-fluid">
      <div class="container">
        <header>
          <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
              <h1 class="logo"><a href="/"><img src="../../../images/logo.png" class="img-reponsive" alt="" /><br><img
                    src="../../../images/Compass.png" class="img-reponsive" alt="" /></a></h1>
            </div>
          </div>
        </header>
      </div>
      <div class="container app-bg"> 
        <div class="row">
          <form [formGroup]="configServerForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12 col-xs-12 text-center box2">
              <div class="divider"></div>
              <p>Please register your Application Server URL</p>
              <label for="registered">Application Server URL</label>
              <div class="input-group">
                <input type="url" class="form-control" id="url" placeholder="Enter Application Server URL" formControlName="url">
              </div>
            </div>          
  
            <div class="col-md-12 col-xs-12 text-center box1">
  
              <button type="button" class="btn btn-primary btn-lg btn-login" (click)="onSubmit()" >Submit</button>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>  
      </div>
    </div>
  </div>