<div class="bg">
  <div class="container-fluid">
    <div class="container">
      <header>
        <div class="row">
          <div class="col-md-4 col-xs-12 text-center">
            <h1 class="logo"><a href="/"><img src="../../../../images/logo.png" class="img-reponsive" alt="" /><br><img
                  src="../../../../images/Compass.png" class="img-reponsive" alt="" /></a></h1>
          </div>
        </div>
      </header>
    </div>

    <div class="container app-bg">
      <div class="row">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="col-md-4 col-xs-12 box1">
            <label for="Username">Username</label>
            <div class="input-group">
              <input type="text" class="form-control userIcon" readonly="readonly">
              <input type="email" autocomplete="false" formControlName="email" class="form-control" id="username">
            </div>
          </div>

          <div class="col-md-4 col-xs-12 box1">
            <label for="Password">Password</label>
            <div class="input-group">
              <input type="password" class="form-control passwordIcon" readonly="readonly">
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>
          </div>

          <div class="col-md-4 col-xs-12 box1">

            <label class="containerBox">Remember me
              <input type="checkbox" formControlName="isChecked">
              <span class="checkmark"></span>
            </label>
            <button type="submit" class="btn btn-primary btn-lg btn-login">Login</button>
            <div class="clearfix paddingTop15"></div>

            <div class="forgotpass"><a href="../forgot-password">Forgot your password?</a></div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
