<div class="tab-content">

  <div id="allNotesId" class="tab-pane fade in active" style="overflow: hidden">
    <div class="row">
      <div class="col-xs-12 col-md-12 cell-bg">
        <div class="col-xs-6 col-md-6 noPadding">
          <div class="myNotesWp"><img src="../../../../../images/ic_note_profile.svg" alt=""> My Notes</div>
        </div>
        <div class="col-xs-6 col-md-6 noPadding">
          <div class="myNotesWp textRight">21/02/2019</div>
        </div>
        <div class="col-xs-12 col-md-12 noPadding">
          <div class="myNotesDetails">
            <p>I need to think more...</p>
          </div>
        </div>

        <div class="clearfix paddingTop5"></div>
        <div class="divider"></div>
        <div class="clearfix paddingTop5"></div>

        <div class="col-xs-6 col-md-6 noPadding">
          <div class="ag-detail-icons">
            <a href="#" alt=""><img src="../../../../../images/ic_delete.svg" alt=""> Delete</a>
          </div>
        </div>
        <div class="col-xs-6 col-md-6 noPadding">
          <div class="ag-detail-icons textRight">
            <a href="#" alt=""><img src="../../../../../images/ic_note_edit.svg" alt=""> Edit</a>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
