<div class="tab-content">
  <!-- ---tab First beginning here---- -->
  <div id="agentsId" class="tab-pane fade in active">
    <div class="clearfix paddingTop10"></div>
    <div class="row">
      <div class="col-xs-12 col-md-6 cell-bg">
        <div class="agent-detail paddingRight">
          <div class="dp">
            <img src="images/baseline-business-24px.svg" alt="" />
            <!-- <div class="dpProfile_wp proActiBg">A</div> -->
          </div>
          <h4>NETCO. Inc <span>(Agent ID)</span></h4> <span>Las Vegas, NV</span>
        </div>

      </div>

      <div class="col-xs-12 col-md-6 cell-bg">
        <div class="agent-detail paddingRight">
          <div class="dp">
            <img src="images/baseline-business-24px.svg" alt="" />
            <!-- <div class="dpProfile_wp proActiBg">A</div> -->
          </div>
          <h4>Clark, Partington, Hart & Hart LLC <span>(017379)</span></h4> <span>A, AL</span>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 cell-bg">
        <div class="agent-detail paddingRight">
          <div class="dp">
            <img src="images/baseline-business-24px.svg" alt="" />
            <!-- <div class="dpProfile_wp proActiBg">A</div> -->
          </div>
          <h4>DHI Title of Alabama, Inc. <span>(017340)</span></h4> <span>P, AL</span>
        </div>
      </div>

    </div>

    <div class="clearfix paddingTop15"></div>
  </div>
</div>
