<div class="container-fluid nospace">
  <div class="nav-bg wrapper-back">
    <div id="detail-page-header">

      <div class="col-xs-2 toppad"><img src="../../../../images/back-btn.svg" alt="" (click)="goBack()"></div>
      <div class="col-xs-7 text-center">
        <h1 class="t-agent">Contact</h1>
      </div>
      <div class="col-xs-3 text-center tpad" data-toggle="modal" data-target="#myModal" (click)="onEditProfileClick()">
        <img src="../../../../images/edit.svg" alt=""><br><span class="edit-detail"><a>Edit Details</a></span></div>
    </div>
    <app-entity-name-header [entityModel]="entityModel"></app-entity-name-header>
  </div> 
  <div class="container app-bg2 bottom-wrapper-for-back">
    <div class="row">
      <div class="col-xs-12 col-md-6 cell-bg">
        <div class="col-xs-6 col-md-6 noPadding">
          <div class="ag-detail-icons">
            <a alt="" (click)="shareVCard()" data-toggle="modal" data-target="#shareMyVcard"><img
                src="../../../../images/ic_share_contact.svg" alt=""> Share
              vCard</a>
          </div>
        </div>

        <div class="col-xs-6 col-md-6 noPadding">
          <div class="ag-detail-icons">
            <a alt="" (click)="openLocationOnMap()"><img src="../../../../images/ic_share_location.svg" alt="">
              Share Location</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 cell-bg">
        <div class="agent-contact">
          <h4>Address</h4> <span class="ag-add">{{getAddress()}}</span>
          <div class="clearfix"></div>
          <div class="state"><span>State</span><br> <span class="st2">{{entityContactModel.state}}</span></div>
          <div class="state"><span>Pin Code</span><br><span class="st2">{{entityContactModel.zip}}</span></div>

        </div>
      </div>

      <div class="col-xs-12 col-md-6 cell-bg">
        <div class="agent-contact">
          <h4>Contact Number 1</h4> <span>{{entityContactModel.phone1}}</span>
          <div class="clearfix"></div>
          <div class="ag-detail">
            <ul>
              <li class="call" (click)="doCall(entityContactModel.phone1)">Call</li>
              <li class="sms" (click)="doSMS(entityContactModel.phone1)">SMS</li>
              <li class="copy" (click)="copyText(entityContactModel.phone1)">Copy</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-md-6 cell-bg">
        <div class="agent-contact">
          <h4>Contact Number 1</h4> <span>{{entityContactModel.phone2}}</span>
          <div class="clearfix"></div>
          <div class="ag-detail">
            <ul>
              <li class="call" (click)="doCall(entityContactModel.phone2)">Call</li>
              <li class="sms" (click)="doSMS(entityContactModel.phone2)">SMS</li>
              <li class="copy" (click)="copyText(entityContactModel.phone2)">Copy</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 cell-bg">
        <div class="agent-contact">
          <h4>E-mail ID</h4> <span><a>{{entityContactModel.email}}</a></span>
          <div class="clearfix"></div>
          <div class="ag-detail">
            <ul>
              <li class="mail" (click)="doEmail()">E-mail this ID</li>
            </ul>
          </div>
        </div>
      </div>

      <button (click)="topFunction()" id="myBtn" title="Go to top"><span
          class="glyphicon glyphicon-arrow-up"></span></button>
    </div>
  </div>
</div>
<app-update-agent-profile></app-update-agent-profile>
<app-share-v-card></app-share-v-card>
