<!-- Modal beginning here -->
<mat-dialog-content>


  <!-- Modal content-->
  <div>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" (click)="onCancelClick()">&times;</button>
      <h4 class="modal-title">Email "{{data.name}}"</h4>
    </div>
    <form role="form">
      <div class="modal-body">

        <div class="clear paddingTop10"></div>

        <div class="form-group">
          <p class="markAlertMsg">You'll be emailing the auditor and will be taken to your default mail client. Are
            you sure you want to email the auditor?</p>
        </div>

        <div class="col-xs-12 col-md-12 noPadding">

          <label class="containerBoxCustom">Don't show me again
            <input type="checkbox" (change)="dontShowAgainChanged($event)">
            <span class="checkmarkCustom"></span>
          </label>
        </div>

        <div class="clear paddingTop10"></div>

      </div>
    </form>
  </div>
</mat-dialog-content>
<!-- Modal End here -->
<mat-dialog-actions id="MarkAsReviewedDialogButtonGroup" align="end">
  <button matDialogClose="cancel" (click)="onCancelClick()">Cancel</button>
  <button matDialogClose="confirm" (click)="onEmailAuditorClick()">Email Auditor</button>
</mat-dialog-actions>
