<!-- Modal beginning here -->
<mat-dialog-content>


  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" (click)="onCancelClick()">&times;</button>
      <h4 class="modal-title">Email "{{data.name}}"</h4>
    </div>
    <form role="form">
      <div class="modal-body">

        <div class="clear paddingTop10"></div>

        <div class="form-group">
          <p class="markAlertMsg">You'll be emailing the auditor and will be taken to your default mail client. Are
            you sure you want to email the auditor?</p>
        </div>

        <div class="col-xs-12 col-md-12 noPadding">
          <div class="checkbox">
            <input id="checkbox1" type="checkbox">
            <label class="rememberM" for="checkbox1">Don't show me again</label>
          </div>
        </div>

        <div class="clear paddingTop10"></div>

      </div>
      <div class="modal-footer">
        <a alt="Cancel" (click)="onCancelClick()"><span>Cancel</span></a>
        <a alt="Save Changes" (click)="onEmailAuditorClick()">Email Auditor</a>
      </div>
    </form>
  </div>
</mat-dialog-content>
<!-- Modal End here -->
