<div class="container app-bg2">
  <div class="row">
    <ul>
      <li *ngFor="let item of topAgents" (click)="onAgentClick(item)">
        <div class="col-xs-12 col-md-6 cell-bg">
          <div class="agent-detail">
            <div class="dp"><img src={{item.agentImg}} alt="" /></div>
            <h4>{{item.name}}</h4> <span>{{item.city+','+item.state}}</span>
            <div class="clearfix"></div>
            <div class="amount"><span>Net Premium</span><br>$ {{item.netPermium}}</div>
          </div>
        </div>
      </li>
    </ul>
    <div class="load-more-div" *ngIf="moreDataAvailable">
      <span class="straight-line"></span>
      <span class="load-more-text" (click)="onLoadMoreClick()">Load More</span>
      <span class="straight-line"></span>

    </div>
    <button (click)="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-arrow-up"></span></button>
  </div>
  <app-recent-profiles></app-recent-profiles>
</div>