<div class="container-fluid nospace">

  <div class="container nav-bg">
    <div class="row">
      <div class="col-xs-2 toppad"><a href=""><img src="../../../images/back-btn.svg" alt=""></a></div>
      <div class="col-xs-8 text-center">
        <h1 class="t-agent">Notification Control</h1>
      </div>
      <div class="col-xs-2 text-right toppad"></div>
    </div>
  </div>

  <div class="container app-bg5">

    <div class="row">
      <div class="col-xs-12 col-md-12 notificationCtrl">
        <p>If you don't want to be notified about any of the below events, turn Notifications off for the specific
          event.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 cell-bg">
        <div class="agent-detail">
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="topHeadingComp">
                <hr />
                <span>Claim</span>
              </div>
            </div>
          </div>
          <div class="clearfix paddingTop5"></div>


          <div class="row">
            <div class="col-xs-8 col-md-6 visibleWp">
              <h4>Claim Created</h4>
            </div>
            <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
              <span class="onOffTxt">Off</span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="onOffTxt">On</span>
            </div>
            <div class="clearfix paddingTop25"></div>
          </div>


          <div class="row">
            <div class="col-xs-8 col-md-6 visibleWp">
              <h4>Claim Closed</h4>
            </div>
            <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
              <span class="onOffTxt">Off</span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="onOffTxt">On</span>
            </div>
            <div class="clearfix paddingTop25"></div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-md-6 visibleWp">
              <h4>Claim Reserve Increased</h4>
            </div>
            <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
              <span class="onOffTxt">Off</span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="onOffTxt">On</span>
            </div>
            <div class="clearfix paddingTop25"></div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-md-6 visibleWp">
              <h4>Porential Recovery Posted</h4>
            </div>
            <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
              <span class="onOffTxt">Off</span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="onOffTxt">On</span>
            </div>
            <div class="clearfix paddingTop25"></div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-md-6 visibleWp">
              <h4>Recovery Received</h4>
            </div>
            <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
              <span class="onOffTxt">Off</span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="onOffTxt">On</span>
            </div>
            <div class="clearfix paddingTop25"></div>
          </div>

          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="topHeadingComp">
                <hr />
                <span>Remittance</span>
              </div>
            </div>
          </div>
          <div class="clearfix paddingTop5"></div>

          <div class="row">
            <div class="col-xs-8 col-md-6 visibleWp">
              <h4>New Remittance Batch Created</h4>
            </div>
            <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
              <span class="onOffTxt">Off</span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="onOffTxt">On</span>
            </div>
            <div class="clearfix paddingTop25"></div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-md-6 visibleWp">
              <h4>Remittance Batch Completed</h4>
            </div>
            <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
              <span class="onOffTxt">Off</span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="onOffTxt">On</span>
            </div>
            <div class="clearfix paddingTop25"></div>
          </div>

          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="topHeadingComp">
                <hr />
                <span>Alert</span>
              </div>
            </div>
          </div>
          <div class="clearfix paddingTop5"></div>


          <div class="row">
            <div class="col-xs-8 col-md-6 visibleWp">
              <h4>New Alert Created</h4>
            </div>
            <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
              <span class="onOffTxt">Off</span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="onOffTxt">On</span>
            </div>
            <div class="clearfix paddingTop25"></div>
          </div>

          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="topHeadingComp">
                <hr />
                <span>Accounting</span>
              </div>
            </div>
          </div>
          <div class="clearfix paddingTop5"></div>

          <div class="row">
            <div class="col-xs-8 col-md-6 visibleWp">
              <h4>Accounting Period Completed</h4>
            </div>
            <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
              <span class="onOffTxt">Off</span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="onOffTxt">On</span>
            </div>
            <div class="clearfix paddingTop25"></div>
          </div>


          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="topHeadingComp">
                <hr />
                <span>Audit</span>
              </div>
            </div>
          </div>
          <div class="clearfix paddingTop5"></div>

          <div class="row">
            <div class="col-xs-8 col-md-6 visibleWp">
              <h4>New Audit Created</h4>
            </div>
            <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
              <span class="onOffTxt">Off</span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="onOffTxt">On</span>
            </div>
            <div class="clearfix paddingTop25"></div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-md-6 visibleWp">
              <h4>Audit Completed</h4>
            </div>
            <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
              <span class="onOffTxt">Off</span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="onOffTxt">On</span>
            </div>
            <div class="clearfix paddingTop25"></div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-md-6 visibleWp">
              <h4>Audit Scheduled</h4>
            </div>
            <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
              <span class="onOffTxt">Off</span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="onOffTxt">On</span>
            </div>
            <div class="clearfix paddingTop25"></div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-md-6 visibleWp">
              <h4>Audit Queued</h4>
            </div>
            <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
              <span class="onOffTxt">Off</span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="onOffTxt">On</span>
            </div>
            <div class="clearfix paddingTop25"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
