<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 cell-bg">
      <div class="agent-detail ">
        <div class="dp">
          <div class="badge bd-col">A</div><img src={{agentInfo.agentImg}}
            onerror="this.src='../../../../images/placeholder.png'" alt="" />
        </div>
        <h4>{{agentInfo.name}}<a><img
              src="{{checkEntityFavorite()?'../../../../images/favourite-icon.svg':'../../../../images/star.svg'}}"
              alt="" (click)="onStarClick()"></a></h4> <span
          class="building-icon padding-left-twenty-five">{{agentInfo.entityId}}</span>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="col-xs-12 col-md-12">
      <ul class="agent-details">
        <li *ngFor="let item of agentMenues" class="{{item.class}}" (click)="onAgentMenuClick(item)">
          <a>{{item.title}}</a></li>
      </ul>
    </div>
  </div>
