<div class="modal fade" id="shareMyVcard" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" #closeShareVCard>&times;</button>
        <h4 class="modal-title">Share vCard</h4>
      </div>
      <form role="form">
        <div class="modal-body">

          <div class="form-group">
            <label for="email">Share with E-mail ID</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="emailIds"
              placeholder="josh@alliant.com, justintrude@google.com" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="clear paddingTop15"></div>
          <div class="clear paddingTop15"></div>
          <div class="clear paddingTop15"></div>
        </div>
        <div class="modal-footer">
          <a data-dismiss="modal" alt="Cancel"><span>Cancel</span></a>
          <a alt="Sent vCard" (click)="onShareVCardClick()">Send vCard</a>
        </div>
      </form>
    </div>

  </div>
</div>
