<div class="container nav-bg">
  <div class="row">
    <div class="col-xs-2 toppad"><img src="../../../../images/back-btn.svg" alt="" (click)="goBack()"></div>
    <div class="col-xs-8 text-center">
      <h1 class="t-agent">13 Month Activity</h1>
    </div>
    <div class="col-xs-2 text-right toppad"><a href="#" alt="" data-toggle="modal" data-target="#recentAssociatesl"><img
          src="../../../../images/baseline-history.svg" alt=""></a></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10 divider"></div>
      <div class="col-xs-1"></div>
    </div>
  </div>
  <div class="container app-bg2" style="padding-top:10px;">
    <div class="row">

      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 col-md-12 calendar-head">
            <img src="images/baseline-calendar_today-24px.svg" alt=""> <span> April - 2019</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12 cell-bg">
            <div class="agent-detail-associates">
              <div class="clearfix"></div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="amount">NPR Plan Current Month<br><span>$15,595 (93%)</span></div>
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="amount">NPR Actual<br><span>$15,595 (93%)</span></div>
                </div>
              </div>
              <div class="clear paddingTop10"></div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="amount">NPR % of Plan<br><span>$15,595 (93%)</span></div>
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="amount">CPL Actual<br><span>$15,595 (93%)</span></div>
                </div>
              </div>
              <div class="clear paddingTop10"></div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="amount">CPL Actual<br><span>$15,595 (93%)</span></div>
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="amount">CPL % of Plan<br><span>$15,595 (93%)</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 col-md-12 calendar-head">
            <img src="images/baseline-calendar_today-24px.svg" alt=""> <span> March - 2019</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12 cell-bg">
            <div class="agent-detail-associates">
              <div class="clearfix"></div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="amount">NPR Plan Current Month<br><span>$15,595 (93%)</span></div>
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="amount">NPR Actual<br><span>$15,595 (93%)</span></div>
                </div>
              </div>
              <div class="clear paddingTop10"></div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="amount">NPR % of Plan<br><span>$15,595 (93%)</span></div>
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="amount">CPL Actual<br><span>$15,595 (93%)</span></div>
                </div>
              </div>
              <div class="clear paddingTop10"></div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="amount">CPL Actual<br><span>$15,595 (93%)</span></div>
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="amount">CPL % of Plan<br><span>$15,595 (93%)</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 col-md-12 calendar-head">
            <img src="images/baseline-calendar_today-24px.svg" alt=""> <span> February - 2019</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12 cell-bg">
            <div class="agent-detail-associates">
              <div class="clearfix"></div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="amount">NPR Plan Current Month<br><span>$15,595 (93%)</span></div>
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="amount">NPR Actual<br><span>$15,595 (93%)</span></div>
                </div>
              </div>
              <div class="clear paddingTop10"></div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="amount">NPR % of Plan<br><span>$15,595 (93%)</span></div>
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="amount">CPL Actual<br><span>$15,595 (93%)</span></div>
                </div>
              </div>
              <div class="clear paddingTop10"></div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="amount">CPL Actual<br><span>$15,595 (93%)</span></div>
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="amount">CPL % of Plan<br><span>$15,595 (93%)</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 col-md-12 calendar-head">
            <img src="images/baseline-calendar_today-24px.svg" alt=""> <span> January - 2019</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12 cell-bg">
            <div class="agent-detail-associates">
              <div class="clearfix"></div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="amount">NPR Plan Current Month<br><span>$15,595 (93%)</span></div>
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="amount">NPR Actual<br><span>$15,595 (93%)</span></div>
                </div>
              </div>
              <div class="clear paddingTop10"></div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="amount">NPR % of Plan<br><span>$15,595 (93%)</span></div>
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="amount">CPL Actual<br><span>$15,595 (93%)</span></div>
                </div>
              </div>
              <div class="clear paddingTop10"></div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="amount">CPL Actual<br><span>$15,595 (93%)</span></div>
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="amount">CPL % of Plan<br><span>$15,595 (93%)</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12 loadMoreWp">
        <hr />
        <div class="loadMore"><a href="#" alt="Load More">Load More</a></div>
      </div>
    </div>
  </div>
</div>
<app-recent-profiles></app-recent-profiles>
