<div class="container">
  <div class="nav-bg row wrapper">
    <div class="col-xs-2 toppad"><img src="../../../../images/back-btn.svg" alt="" (click)="goBack()"></div>
    <div class="col-xs-8 text-center">
      <h1 class="t-agent">13 Month Activity</h1>
    </div>
    <div class="col-xs-2 text-right toppad"><a (click)="onRecentProfileClick()" alt="" data-toggle="modal" data-target="#recentAssociatesl"><img
          src="../../../../images/baseline-history.svg" alt=""></a></div>
  </div>

  <div class="container bottom-wrapper-for-back">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10 divider"></div>
      <div class="col-xs-1"></div>
    </div>
  </div>
  <div class="container app-bg2  " style="padding-top:10px;">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <ul>
          <li *ngFor="let item of thirteenMonthsModels">
            <div class="row">
              <div class="col-xs-12 col-md-12 calendar-head">
                <img src="images/baseline-calendar_today-24px.svg" alt=""> <span> {{getMonth(item)}} -
                  {{item.year}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12 cell-bg">
                <div class="agent-detail-associates">
                  <div class="clearfix"></div>
                  <div class="row">
                    <div class="col-md-6 col-xs-6">
                      <div class="amount">NPR Plan Current Month<br><span>{{item.nprPlanned |
                          currency:'USD':"symbol-narrow":'1.0-0'}}</span></div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                      <div class="amount">NPR Actual<br><span>{{item.nprActual | currency:'USD':"symbol-narrow":'1.0-0'}}</span></div>
                    </div>
                  </div>
                  <div class="clear paddingTop10"></div>
                  <div class="row">
                    <div class="col-md-6 col-xs-6">
                      <div class="amount">NPR % of Plan<br><span currencyMask>{{item.nprPercent}}%</span></div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                      <div class="amount">CPL Actual<br><span>{{item.cplActual| currency:'USD':"symbol-narrow":'1.0-0'}}</span></div>
                    </div>
                  </div>
                  <div class="clear paddingTop10"></div>
                  <div class="row">
                    <div class="col-md-6 col-xs-6">
                      <div class="amount">CPL Plan<br><span>{{item.cplPlanned| currency:'USD':"symbol-narrow":'1.0-0'}}</span></div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                      <div class="amount">CPL % of Plan<br><span>{{item.cplPercent}}%</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </li>
        </ul>
        <!-- <div class="row">
          <div class="col-xs-12 col-md-12 loadMoreWp">
            <hr />
            <div class="loadMore"><a href="#" alt="Load More">Load More</a></div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<app-recent-profile-dialog></app-recent-profile-dialog>