<div class="container-fluid nospace">
  <div class="wrapper-back">
    <div class="container nav-bg">
      <div id="detail-page-header">
        <div class="col-xs-2 toppad"><img src="../../../../images/back-btn.svg" alt="" (click)="goBack()"></div>
        <div class="col-xs-8 text-center">
          <h1 class="t-agent">Tags</h1>
        </div>
        <div class="col-xs-2 text-right toppad">
          <a alt="" data-toggle="modal" data-target="#editTagsPopup"><img src="../../../../images/edit.svg"
              alt=""><br><span class="edit-detail">Edit Tags</span></a>
        </div>
      </div>
    </div>
    <app-entity-name-header [entityModel]="entityModel"></app-entity-name-header>
  </div>
  <div class="container app-bg2 bottom-wrapper-for-back" *ngIf="hideNoDataDiv">
    <div class="row" *ngFor="let item of tags">
      <div class="col-xs-6 col-md-3">
        <button type="button" class="btn btn-primary btn-tags">{{item.name}}</button>
      </div>
    </div>
  </div>



  <div class="container add-box app-bg2-">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <input type="text" class="form-control pr-38" placeholder="Add private tag for this agent"
            [(ngModel)]="newTag" [ngModelOptions]="{standalone: true}">
        </div>
        <button type="submit" class="btn btn-default add-btn" (click)="onCreateTagClick()"><img
            src="../../../../images/add-icon.svg" alt=""></button>
      </div>
    </div>
  </div>

  <div class="serach-emp  no-data-margin-top" *ngIf="!hideNoDataDiv" >
    <h2><em>It is Empty Here!</em></h2>
    <p><em>{{errorMsg}}</em></p>
  </div>
</div>
<!-- Modal beginning here -->
<div class="modal fade" id="editTagsPopup" role="dialog">
  <div class="modal-dialog" style="margin-top:20%;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Tags</h4>
      </div>
      <form role="form">
        <div class="modal-body">
          <div class="clear paddingTop10"></div>


          <div class="row" *ngFor="let item of tags">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control pr-35 opacity50" placeholder="" [(ngModel)]="item.name"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <button type="submit" class="btn btn-default delete-btn"><img src="../../../../images/ic_delete.svg"
                  alt=""></button>
            </div>
          </div>

          <div class="clear paddingTop10"></div>
        </div>
        <div class="modal-footer">
          <a data-dismiss="modal" alt="Cancel"><span>Cancel</span></a>
          <a data-dismiss="modal" alt="Save Changes">Finish Editing</a>
        </div>
      </form>
    </div>

  </div>
</div>
<!-- Modal End here -->
