<div class="container app-bg2">
  <div class="row">
    <ul>
      <li *ngFor="let item of favorites">
        <div class="col-xs-12 col-md-6 cell-bg">
          <div class="agent-detail">
            <div class="dp">
              <img
                src="{{item.entity=='Agent'?'../../../../images/baseline-business-24px.svg':'../../../../images/ic_note_profile.svg'}}"
                alt="" />
              <div class="dpProfile_wp proActiBg">A</div>
            </div>
            <h4><a (click)="onAgentClick(item)">{{item.entityName}}</a> <span
                (click)="onAgentClick(item)">({{item.entityID}})</span><a><img
                  src="../../../../images/favourite-icon.svg" alt="" (click)="onStarClick(item)"></a></h4>
            <span>{{item.city+','+item.state}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
