<div class="container app-bg2">
  <div class="row">
    <ul>
      <li *ngFor="let item of favorites;let i = index;">
        <div class="col-xs-12 col-md-6 cell-bg" *ngIf="item.favorite=='yes'">
          <div class="agent-detail">
            <div class="dp">
              <img
                src="{{item.type=='A'?'../../../../images/baseline-business-24px.svg':'../../../../images/ic_note_profile.svg'}}"
                alt="" />
              <div class="dpProfile_wp proActiBg">{{getTypeAnnotation(item)}}</div>
            </div>
            <h4><a (click)="onItemClick(item)">{{item.name}}</a> <span
                (click)="onItemClick(item,i)">({{item.entityId}})</span><a><img
                  src="../../../../images/favourite-icon.svg" alt="" (click)="onStarClick(item,i)"></a></h4>
            <span>{{item.city+','+item.state}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="row marginBottom20" *ngIf="moreDataAvailable">
    <div class="col-xs-12 col-md-12 loadMoreWp">
      <hr />
      <div class="loadMore"><a (click)="onLoadMoreClick()" alt="Load More">Load More</a></div>
    </div>
  </div>
  <!-- <div id="ratioView">{{totalAndCurrentRowsRatio}}</div> -->
  <button (click)="topFunction()" id="myBtn" title="Go to top"><span
      class="glyphicon glyphicon-arrow-up"></span></button>
</div>
