<div class="container app-bg2">
  <div class="row">
    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="agent-detail">
        <div class="dp">
          <img src="../../../../images/baseline-business-24px.svg" alt="" />
          <div class="dpProfile_wp proActiBg">A</div>
        </div>
        <h4>NETCO. Inc <span>(Agent ID)</span></h4> <span>Las Vegas, NV</span>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 cell-bg">
      <div class="agent-detail">
        <div class="dp">
          <img src="../../../../images/ic_note_profile.svg" alt="">
          <div class="dpProfile_wp proActiBg">A</div>
        </div>
        <h4>Richard <span>(Person ID)</span></h4> <span>Las Vegas, NV</span>
      </div>
    </div>
  </div>
</div>
