<div class="modal fade" id="recentAssociatesl" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          #closeRecentProfileModal
        >
          <img src="../../../../images/ic_menu_close.svg" alt="" />
        </button>
        <h4 class="modal-title">Recent</h4>
      </div>
      <form role="form">
        <div class="modal-body">
          <ul class="recent">
            <li
              [ngClass]="{
                recent1: item.type === 'A',
                recent2: item.type === 'P'
              }"
              *ngFor="let item of recentProfileArray"
              (click)="onProfileClick(item)"
            >
              <a>{{ item.name }}</a>
            </li>
          </ul>
        </div>
        <!-- <div class="modal-footer">
      <a href="#" data-dismiss="modal" alt="Cancel"><span>Cancel</span></a>
      <a href="#" data-dismiss="modal" alt="Save Changes">Save Changes</a>
      </div> -->
      </form>
    </div>
  </div>
</div>
