<div class="modal fade" id="changepic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content boxshape">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Recent</h5>
        <div class="close orange-close-btn" data-dismiss="modal" aria-label="Close" #closeRecentProfileModal>
          <span aria-hidden="true" (click)="openModal(false)" ><img src="../../../../images/orange-close-btn.svg" alt=""></span>
        </div>
      </div>
      <div class="modal-body">
        <ul class="recent">
          <li [ngClass]="{'recent1':item.type=='Agent','recent2':item.type=='Person'}"
            *ngFor="let item of recentProfileArray" (click)="onProfileClick(item)">
            <a>{{item.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
