
::ng-deep .mat-datepicker-content {
  width: fit-content;
 }

 ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    width: 2em !important;
    color: orange;
}