.blue-snackbar {
  background: black;
  color: white;
}

.red-snackbar {
  background: red;
  color: white;
}

#toast-container>div {
  opacity: 1;
}

.bottom-wrapper {
  width: 100%;
  padding-top: 60px;
  z-index: 5;
  overflow: auto;
}

.bottom-wrapper-for-back {
  width: 100%;
  padding-top: 70px;
  z-index: 5;
  overflow: auto;
}

.bottom-wrapper-margin-110 {
  width: 100%;
  padding-top: 110px;
  z-index: 5;
  overflow: auto;
}

.wrapper {
  width: 100%;
  position: fixed;
  z-index: 10;
  overflow: auto;
}

.entityCount {
  height: 30px;
  width: 100%;
  padding: 5px;
  background-color: #F68933;
  text-align: center;
  color: white;
  z-index: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.padding-left-twenty-five {
  padding-left: 25px;
}

.load-more-div {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.load-more-text {
  color: #F68933;
  font-weight: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  display: inline-block;
  width: 33%;
}

.straight-line {
  font-weight: 16px;
  border: 1px solid #F68933;
  display: inline-block;
  width: 33%;
}

#changePicButtonGroup button {
  color: #F68933;
  border-radius: 50px;
  width: 100%;
  padding: 7px;
  margin: 10px 30px 10px 30px;
  font-weight: bold;
  background: none;

}


.primary {
  border: 2px solid #F68933;
}

.secondary {
  border: none;
}

#DialogButtonGroup {
  text-align: right;
}

#DialogButtonGroup button {
  border-radius: 50px;
  font-weight: bold;

  border: 2px solid #F68933;
  padding: 2px 20px 2px 20px;
  margin: 0px 5px 20px;
}

.dialogYes {
  background-color: #F68933;
  color: white;
}

.dialogNo {
  background: none;
  color: #F68933;
}


.change-dp {
  text-align: center;
}

.bottom-line {
  border-bottom: 2px solid #F68933;
}

.news p {
  font-size: 12px;
  color: #3498DB;
}

.divider {
  margin-top: 20px;
}

input:-webkit-autofill {
  transition: background-color 5s ease-in-out 0s;
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 20%;
}

.toast-warning {
  background-image: none;
}

.remember label {
  margin-left: 5px;
}

mat-ink-bar.mat-ink-bar {
  background-color: #F68933 !important;
  height: 4px;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none;
}

.mat-tab-labels {
  color: #f68933 !important;
  font-weight: bold !important;
  border: 0px;
  font-size: 16px !important;
  background: none;
}


.mat-tab-label,
.mat-tab-link {
  color: #f68933 !important;
  font-weight: bold !important;
  border: 0px;
  font-size: 16px !important;
  background: none;
  width: 150px !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: white;
  height: 5px;
}

.mat-tab-label-active {
  opacity: 1 !important;
}

.edit-but-orange {
  background: transparent !important;
}

.mat-tab-header,
.mat-tab-nav-bar {
  border-bottom: 1px solid #f4c39c !important;
}


.example-list {}

.example-box {
  border-bottom: solid 1px transparent;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: transparent;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 2px #f68933;

}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#errorDiv {
  color: red;
}

.agent-detail h4 a {
  font-size: 14px;
  font-weight: bold;
  color: #F68933;
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.profile-pic-wp img {
  width: 90px;
  background-color: #C1E3FF;
  border-radius: 70px;
}

.marginTop20 {
  margin-top: 20px;
}

.marginBottom40 {
  margin-bottom: 40px;
}
.marginBottom20{
  margin-bottom: 20px;
}

.cdk-overlay-pane {
  display: contents !important;
}

.mat-snack-bar-container {
  max-width: 40% !important;
  background: #F68933 !important;
  color: white !important;
}

#ratioView {
  position: fixed;
  bottom: 5px;
  left: 30%;
  z-index: 2;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: #005295;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}
ul.agent-details li.agents a {
  background: url(../images/building-icon.svg) no-repeat left;
  padding-left: 35px;
}