.blue-snackbar {
  background: black;
  color: white;
}

.red-snackbar {
  background: red;
  color: white;
}

#toast-container>div {
  opacity: 1;
}

.bottom-wrapper {
  width: 100%;
  padding-top: 60px;
  z-index: 5;
  overflow: auto;
}

.bottom-wrapper-for-back {
  width: 100%;
  padding-top: 70px;
  z-index: 5;
  overflow: auto;
}

.bottom-wrapper-margin-110 {
  width: 100%;
  padding-top: 110px;
  z-index: 5;
  overflow: auto;
}

.wrapper {
  width: 100%;
  position: fixed;
  z-index: 10;
  overflow: auto;
}

.entityCount {
  height: 30px;
  width: 100%;
  padding: 5px;
  background-color: #F68933;
  text-align: center;
  color: white;
  z-index:1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.padding-left-twenty-five {
  padding-left: 25px;
}

.load-more-div {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.load-more-text {
  color: #F68933;
  font-weight: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  display: inline-block;
  width: 33%;
}

.straight-line {
  font-weight: 16px;
  border: 1px solid #F68933;
  display: inline-block;
  width: 33%;
}

#changePicButtonGroup button {
  color: #F68933;
  border-radius: 50px;
  width: 100%;
  padding: 7px;
  margin: 10px 30px 10px 30px;
  font-weight: bold;
  background: none;

}


.primary {
  border: 2px solid #F68933;
}

.secondary {
  border: none;
}

#DialogButtonGroup {
  text-align: right;
}

#DialogButtonGroup button {
  border-radius: 50px;
  font-weight: bold;

  border: 2px solid #F68933;
  padding: 2px 20px 2px 20px;
  margin: 0px 5px 20px;
}

.dialogYes {
  background-color: #F68933;
  color: white;
}

.dialogNo {
  background: none;
  color: #F68933;
}


.change-dp {
  text-align: center;
}

.bottom-line {
  border-bottom: 2px solid #F68933;
}

.news p {
  font-size: 12px;
  color: #3498DB;
}

.divider {
  margin-top: 20px;
}

input:-webkit-autofill {
  transition: background-color 5s ease-in-out 0s;
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 20%;
}

.toast-warning {
  background-image: none;
}
