.blue-snackbar {
  background: black;
  color: white;
}

.red-snackbar {
  background: red;
  color: white;
}

#toast-container>div {
  opacity: 1;
}

.bottom-wrapper {
  width: 100%;
  padding-top: 60px;
  z-index: 5;
  overflow: auto;
}

.wrapper {
  width: 100%;
  position: fixed;
  z-index: 10;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.padding-left-twenty-five {
  padding-left: 25px;
}
