@charset "utf-8";
/* CSS Document */

@import "~@ng-select/ng-select/themes/default.theme.css";

* {
  transition: all 0.3s ease 0s;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  background: #f2f2f2;
}

.ng-select.ng-select-disabled>.ng-select-container {
  height: calc(2.3rem + 2px);
  background-color: #e9ecef;
  border: none;
}

.bg {
  padding: 0;
  margin: 0;
  background: #045395 url(../images/bg-art.png) no-repeat left bottom;
}

app-add-person .mat-expansion-panel-body{
  padding: 0px 15px 16px !important;
}

.matExpansionPanelTitle{
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;  
  color: #000000;
}

app-add-person .mat-expansion-panel-header{
  padding: 0px 15px;
}

.font-orange {
  color: #F68933;
}

.font-orange:hover {
  color: #F68933;
}

h1 a:link,
a:link {
  color: #fff;
  text-decoration: none;
}

h1.logo {
  margin: 40px 0px 35px 0px;
}

label {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

input {
  font-size: 12px;
  color: #000;
}

.app-bg {
  min-height: 380px;
}

a {
  cursor: pointer;
}

.fontBold {
  font-weight: bold !important;
}

.box1 input.form-control {
  background: #fff;
  padding: 20px 0px 20px 0px;
  width: 280px;
  height: 50px;
  margin-bottom: 28px;
  font-size: 14px;
  color: #000;
  border-radius: 0;
  border-left: 0;
}

.box1 input.userIcon {
  background: #fff url(../images/username.svg) no-repeat left;
  background-position: 6px;
  margin-bottom: 28px;
  border-right: 0;
  width: 40px;
}

.box1 input.passwordIcon {
  background: #fff url(../images/password.svg) no-repeat;
  background-position: 6px;
  margin-bottom: 28px;
  border-right: 0;
  width: 40px;
}


.box1 input:focus {
  outline: none;
  box-shadow: none;
}

/* .box1 input[type="password"] {
  background: #fff url(../images/password.svg) no-repeat;
  background-position: 6px;
  padding: 20px 0px 20px 35px;
  width: 310px;
  height: 50px;
  font-size: 14px;
  color: #000;
  border-radius:0;
} */

.box2 input[type="email"] {
  background: #fff url(../images/mail.svg) no-repeat left;
  background-position: 6px;
  padding: 20px 0px 20px 35px;
  width: 310px;
  height: 50px;
  margin-bottom: 32px;
  font-size: 12px;
  color: #000;
}

.box2 p {
  padding: 10px 0px 20px;
  color: #fff;
  font-size: 14px;
}

button.btn-login {
  width: 310px;
  text-transform: uppercase;
  height: 50px;
}

.btn-login,
.btn-login:focus,
.btn-login:hover {
  background: #F68933;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  width: 310px;
}

.btn-cancel,
.btn-cancel:focus,
.btn-cancel:hover {
  background: none;
  color: #F68933;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid #F68933;
}


.btn-tags,
.btn-tags:focus {
  background: #F68933;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  border-radius: 30px;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 0;
  text-align: left;
}

.btn-tags:hover {
  background: #F68933;
  color: #000;
}


.tagsContent h4 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
}


button.btn-cancel {
  width: 92px;
  border: 2px solid #F68933;
  height: 26px;
  text-transform: uppercase;
  padding: 0px;
}

.btn-logout,
.btn-logout:focus,
.btn-logout:hover {
  background: #F68933;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: bold;
  border-radius: 30px;
}

button.btn-logout {
  width: 92px;
  border: none;
  height: 26px;
  text-transform: uppercase;
  padding: 0px;
}


form input[type="checkbox"] {
  background: #045395;
}

.divider {
  background: #045395;
}

.forgotpass {
  text-align: center;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  border-top: solid 1px #3675aa;
}

.forgotpass a {
  color: #fff;
  font-weight: bold;
}

.forgotpass a:hover {
  color: #a4b6ce;
  font-weight: bold;
}

.app-bg2 {
  background: #F2F2F2;
  padding: 25px;
}

.app-bg3 {
  background: #F2F2F2;
  padding: 0px 25px 25px 25px;
}

.app-bg4 {
  background: #F2F2F2;
  padding: 25px 40px 25px 40px;
}

.app-bg5 {
  background: #F2F2F2;
  padding: 15px 25px 25px 25px;
}


.cell-bg {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 2px #dadada;
  padding: 14px 25px;
  margin-bottom: 5px;
}

.agent-detail {
  /* background: url(../images/star.svg) no-repeat right top; */
}

.agent-detail h4 img {
  float: right;
}

.agent-detail h4 {
  font-size: 14px;
  font-weight: bold;
  color: #F68933;
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.agent-detail span {
  font-size: 12px;
  font-weight: normal;
  color: #626364;
}


.agent-detail-associates {
  background: #fff;
}

.agent-detail-associates h4 {
  font-size: 14px;
  font-weight: bold;
  color: #F68933;
  padding: 0px;
  margin: 5px 0px 10px 0px;
}

.agent-detail-associates span {
  font-size: 12px;
  font-weight: normal;
  color: #626364;
}

.agent-detail-associates span.date {
  font-size: 12px;
  font-weight: normal;
  color: #626364;
  float: right;
}

.associatAgentName {
  margin-top: 10px;
  text-align: center;
}

.agent-detail h4 span.textRight img {
  float: initial;
  margin-top: -6px;
}

.associatAgentName span {
  font-size: 12px;
  font-weight: normal;
  color: #626364;
}

.dp {
  border: 1px solid #e4e4e4;
  background: #eee;
  border-radius: 30px;
  width: 46px;
  height: 46px;
  text-align: center;
  float: left;
  padding-top: 10px;
  margin-right: 10px;
  position: relative;
}

.dpProfile_wp {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -12px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  padding: 1px 0px 0px 0px;
}

.proActiBg {
  background: #06b80c;
}

.proProsBg {
  background: #99bad5;
}

.proClossBg {
  background: #333333;
}

.proCancBg {
  background: #fe0000;
}

.proWithBg {
  background: #6a400b;
}

.amount {
  margin-top: 10px;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

.amount span {
  font-size: 14px;
  font-weight: normal;
  color: #626364;
}

.amount span.fonSize {
  font-size: 12px;
}

.nav-bg {
  margin-bottom: 0px;
  background: #045395;
  height: 62px;
}

.nav-bg a {
  color: #fff;
  display: block;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F2F2F2;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 10px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000;
}

.menu-icon {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 5px;
}

.closebtn {
  padding-left: 15px !important;
}

ul.slide-menu {
  list-type: none;
  padding-top: 20px;
  padding-left: 30px;
}

ul.slide-menu li {
  list-type: none;
  list-style-type: none;
  line-height: 26px;
}

ul.slide-menu li a {
  font-size: 15px;
  color: #000;
}

.noWrap {
  white-space: normal !important;
}

ul.slide-menu li.top-agent a {
  background: url(../images/top-agents.svg) no-repeat left;
  padding-left: 45px;
}

ul.slide-menu li.agent-plan a {
  background: url(../images/agent-plan.svg) no-repeat left;
  padding-left: 45px;
}

ul.slide-menu li.person a {
  background: url(../images/top-agents.svg) no-repeat left;
  padding-left: 45px;
}

ul.slide-menu li.agent-alert a {
  background: url(../images/agent-alert.svg) no-repeat left;
  padding-left: 45px;
}

ul.slide-menu li.agent-performance a {
  background: url(../images/agent-performanace.svg) no-repeat left;
  padding-left: 45px;
}

ul.slide-menu li.agent-news a {
  background: url(../images/news.svg) no-repeat left;
  padding-left: 45px;
}

ul.slide-menu li.agent-anniversary a {
  background: url(../images/anniversary.svg) no-repeat left;
  padding-left: 45px;
}

ul.slide-menu li.agent-fav a {
  background: url(../images/fav.svg) no-repeat left;
  padding-left: 45px;
}

ul.slide-menu li.agent-search a {
  background: url(../images/search.svg) no-repeat left;
  padding-left: 45px;
}

ul.slide-menu li.agent-profile a {
  background: url(../images/recent-profiles.svg) no-repeat left;
  padding-left: 45px;
}

ul.slide-menu li.agent-logout a {
  background: url(../images/logout.svg) no-repeat left;
  padding-left: 45px;
}

ul.slide-menu li.logout a {
  background: url(../images/ic-logout.svg) no-repeat left;
  padding-left: 45px;
}

.pro-n-setting a {
  font-size: 14px;
  white-space: nowrap;
  text-align: left;
  padding-left: 0px;
}

.divider {
  height: 1px;
  margin-top: 0px !important;
  background: #c2c2c2;
}

.toppad {
  padding-top: 18px;
}

.tpad {
  padding-top: 16px;
}

h1.t-agent {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
}

.ag-alert .amount,
.ag-perform .amount {
  width: 50%;
  float: left;
}

.ag-alert .alerts,
.ag-perform .alerts {
  width: 50%;
  float: left;
  margin-top: 10px;
}

.ag-alert .amount span,
.ag-alert .alerts span {
  color: #7f7f7f;
}

.alerts span.red {
  font-size: 14px;
  font-weight: bold;
  color: #FF2E16;
}

.alerts span.orange {
  font-size: 14px;
  font-weight: bold;
  color: #FFAA16;
}

.ag-perform .amount .year,
.ag-perform .alerts .month {
  font-size: 12px;
  color: #707070;
}

.ag-perform .amount .price,
.ag-perform .alerts .price {
  font-size: 14px;
  font-weight: bold;
  color: #626364;
}

.last24 {
  margin-top: 10px;
  font-size: 12px;
  color: #000;
}

ul.agent-details {
  list-style: none;
  list-style-type: none;
  padding: 20px 20px 0px 20px;
}

ul.agent-details li {
  list-style: none;
  list-style-type: none;
  background: url(../images/arrow.svg) no-repeat right;
  font-weight: bold;
  cursor: pointer;
  padding: 4px 0px;
}

ul.agent-details li a {
  color: #000;
  line-height: 40px;
  font-size: 13px;
  cursor: pointer;
}

ul.agent-details li.agent-contact a {
  background: url(../images/contact.svg) no-repeat left;
  padding-left: 35px;
}

ul.agent-details li.objectives a {
  background: url(../images/objectives.svg) no-repeat left;
  padding-left: 35px;
}

ul.agent-details li.notes a {
  background: url(../images/note.svg) no-repeat left;
  padding-left: 35px;
}

ul.agent-details li.events a {
  background: url(../images/events.svg) no-repeat left;
  padding-left: 35px;
}

ul.agent-details li.agent-tags a {
  background: url(../images/tags.svg) no-repeat left;
  padding-left: 35px;
}

ul.agent-details li.associates a {
  background: url(../images/associate.svg) no-repeat left;
  padding-left: 35px;
}

ul.agent-details li.journals a {
  background: url(../images/note.svg) no-repeat left;
  padding-left: 35px; 
}

.building-icon {
  background: url(../images/building-icon.svg) left no-repeat;
}

.agent-detail .bx1 {
  width: 50%;
  float: left;
}

.agent-detail .bx2 {
  width: 25%;
  float: left;
  padding-top: 10px;
}

.agent-detail .bx3 {
  width: 25%;
  float: left;
  padding-top: 10px;
}

.bd-col {
  background: #36B700;
  color: #fff;
  padding: 5px 6px;
  position: absolute;
  left: 16px;
  top: 11px;
}

.agent-contact h4 {
  color: #a3a3a3;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}

.agent-contact .ag-add,
.agent-contact a {
  color: #000;
  font-size: 13px;
}

.agent-contact .state {
  color: #a3a3a3;
  font-size: 14px;
  font-weight: bold;
  width: 50%;
  float: left;
  margin-top: 10px;
}

.agent-contact .state span {
  color: #000;
  font-size: 14px;
  font-weight: normal;
}

.ag-detail-icons {
  font-size: 14px;
  color: #F68933;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

.ag-detail-icons a {
  color: #F68933;
}

.ag-detail ul {
  list-style-type: none;
  padding: 0px;
  margin-top: 20px;
}

.ag-detail ul li {
  list-style-type: none;
  width: 33%;
  float: left;
  color: #F68933;
  font-size: 14px;
}

.ag-detail ul li.call {
  background: url(../images/call.svg) no-repeat left;
  padding-left: 25px;
}

.ag-detail ul li.sms {
  background: url(../images/sms.svg) no-repeat left;
  padding-left: 25px;
}

.ag-detail ul li.copy {
  background: url(../images/copy.svg) no-repeat left;
  padding-left: 25px;
}

.ag-detail ul li.mail {
  background: url(../images/email.svg) no-repeat left;
  padding-left: 25px;
  width: 50%;
}

.edit-detail {
  font-size: 11px;
  color: #fff;
  white-space: nowrap;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #005295;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.news {
  width: 80%;
  float: left;
}

.pic {
  width: 20%;
  float: left;
}

.news h4 {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.news p {
  font-size: 12px;
}

.pic p {
  border: 1px solid #707070;
  width: 64px;
  height: 64px;
  margin-top: 10px;
}

.ag-objective ul {
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}

.ag-objective ul li {
  list-style-type: none;
  width: 33%;
  float: left;
  color: #F68933;
  font-size: 14px;
}

.ag-objective ul li.complete {
  background: url(../images/check.svg) no-repeat left;
  padding-left: 25px;
  cursor: pointer;
}

.ag-objective ul li.cancel {
  background: url(../images/close-btn.svg) no-repeat left;
  padding-left: 25px;
  cursor: pointer;

}

.ag-objective ul li.edit {
  background: url(../images/edit-btn.svg) no-repeat left;
  padding-left: 25px;
  /* width: 23%;
  margin-left: 32px; */
  cursor: pointer;

}

.ag-obj-active .status,
.ag-obj-active .d-date,
.ag-obj-complete .status,
.ag-obj-complete .d-date {
  font-size: 11px;
  color: #707070;
  width: 50%;
  float: left;
}

.ag-obj-active .status span {
  color: #00B118;
  font-weight: bold;
}

.ag-obj-active p {
  padding: 10px 0px 10px 0px;
}

.ag-obj-complete p {
  padding: 10px 0px 10px 0px;
  font-size: 11px;
}

.ag-obj-complete .status span {
  font-weight: bold;
}

.change-dp img {
  width: 132px;
  background-color: #C1E3FF;
  border: 2px solid #90CCFE;
  border-radius: 70px;
}

.btn-orange {
  background: #F68933;
  border-radius: 33px;
  margin: 20px 0px 10px 0px;
  padding: 7px 32px;
  border: none;
  font-weight: bold;
}

.btn-orange:hover,
.btn-orange:focus {
  background: #F68933;
}

.nobord {
  border: none;
}

.boxshape {
  border-radius: 0px;
}

.search-btn,
.search-btn:hover,
.search-btn a:active {
  background-color: none;
  box-shadow: 0px;
  border: none;
  background: url(../images/orange-search.svg) left no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  right: 25px;
}

.search-box {
  margin-top: 20px;
}

.search-box .form-group input[type="text"] {
  border: 2px solid #F68933;
  border-radius: 20px;
  color: #000;
  padding-right: 50px;
}

.bottom-bord {
  border-bottom: 1px solid #A5A5A5;
}

.serach-emp {
  background: #F2F2F2 url(../images/empty-page.svg) top no-repeat;
  background-position-y: 85px;
  padding-top: 50px;
  text-align: center;
  min-height: 375px;
}

.serach-emp {
  padding-top: 180px;
}

.serach-emp h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  color: #b1b1b1;
}

.serach-emp p {
  font-size: 14px;
  padding: 10px 0px;
  color: #b1b1b1;
}

.serach-result {
  background: #F2F2F2;
  min-height: 380px;
}

.serach-result .green {
  color: #36B700 !important;
}



.serach-empName {
  background: #F2F2F2 url(../images/empty-page.svg) top no-repeat;
  background-position-y: 15px;
  padding-top: 50px;
  text-align: center;
  min-height: 230px;
}

.serach-empName {
  padding-top: 115px;
}

.serach-empName h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  color: #b1b1b1;
}

.serach-empName p {
  font-size: 14px;
  padding: 10px 0px;
  color: #b1b1b1;
}


.add-box {
  background: #fff;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px 15px 0px 15px;
  width: 100%;
  -webkit-box-shadow: -4px -5px 8px -4px rgba(46, 61, 73, 0.3);
  -moz-box-shadow: -4px -5px 8px -4px rgba(46, 61, 73, 0.3);
  box-shadow: -4px -5px 8px -4px rgba(46, 61, 73, 0.3);
}

.add-box .form-group input[type="text"] {
  border: 2px solid #F68933;
  border-radius: 20px;
  color: #000;
  padding-right: 50px;
  padding: 18px 15px;
}

.add-btn,
.add-btn:hover,
.add-btn a:active {
  background-color: none;
  box-shadow: 0px;
  border: none;
  background: none;
  position: absolute;
  top: 2px;
  right: 25px;
  padding: 6px 8px 10px 9px;
}

.delete-btn,
.delete-btn:hover,
.delete-btn a:active {
  background-color: none;
  box-shadow: 0px;
  /* border: none; */
  background: none;
  position: unset;
  top: 2px;
  right: 15px;
  padding: 5px;
  float: right;
}

ul.recent {
  padding: 0px;
  margin: 0px;
}

ul.recent li {
  line-height: 20px;
}

ul.recent li a {
  padding: 0px;
  margin: 0px;
  color: #707070;
}

.password-sent p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

p.pass-sent {
  font-weight: normal;
  margin-bottom: 20px;
}

.password-sent .divider {
  height: 1px;
  background: #1D8BD8;
  margin: 100px 0px 70px 0px;
}

.pass-sent-box {
  margin-top: 30px;
}

.logout-hr {
  padding: 0px;
  margin: 0px;
}

.logout h5 {
  color: #707070;
  font-size: 18px;
  font-weight: bold;
}

.btns-log {
  margin-top: 40px;
}

ul.recent {
  padding-left: 20px;
}

ul.recent li {
  list-style: none;
  line-height: 40px;
}

ul.recent li.recent1 a {
  list-style: none;
  background: url(../images/builing.svg) left no-repeat;
  line-height: 30px;
  padding-left: 46px;
}

ul.recent li.recent2 a {
  list-style: none;
  background: url(../images/user_ic.svg) left no-repeat;
  line-height: 30px;
  padding-left: 46px;
}

.recent-profile .modal-header h5 {
  display: table;
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #707070;
}

.orange-close-btn,
.orange-close-btn:hover {
  opacity: 1;
}

.loadMoreWp {
  margin: 30px 0px 0px 0px;
}

.loadMoreWp hr {
  height: 1px;
  background: #F68933;
  margin: 0;
}

.loadMore {
  margin: 0 auto;
  width: 75px;
  margin-top: -13px;
  text-align: center;
  background: #F2F2F2;
}

.loadMore a {
  color: #F68933;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  padding: 0px 4px;
}

.modal-content {
  border-radius: 4px;
}

.modal-header {
  padding: 10px 15px;
  border-bottom: 0px solid #707070;
}

.modal-header h4.modal-title {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  border-bottom: 1px solid #707070;
  padding-bottom: 10px;
}

/* .modal-footer {padding: 10px 15px;} */

.modal-footer a {
  font-size: 14px;
  color: #F68933;
  font-weight: bold;
  padding: 0px 0px 0px 30px;
}

.modal-footer a span {
  font-weight: normal;
}

.modal-body {
  padding: 0px 15px;
}

.modal-content .form-group label {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

.modal-content .form-group input {
  font-size: 14px;
  font-weight: normal;
  color: #000;
  border-radius: 0;
  border: 0px;
  box-shadow: none;
  border-bottom: solid 1px #fac498;
  padding: 6px 0px;
}

.modal-content .form-group select.form-control {
  border-radius: 0;
  padding: 6px 6px;
}



.nav-tabs>li {
  width: 50%;
  text-align: center;
}

.nav-tabs>li a {
  color: #f4c39c;
  border: 0px;
}

.nav-tabs>li a:hover {
  background: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #f68933;
  font-weight: bold;
  border: 0px;
  border-bottom: solid 4px #f68933;
  background: none;
  transition: all 0.0s ease 0s;
}

.profile-pic-wp {
  background: #fff;
  border-radius: 50%;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
  float: left;
  height: 90px;
  overflow: hidden;
  width: 90px;
  margin: 20px 15px 20px 0px;
}

.profileWp h4 {
  font-size: 14px;
  color: #000000;
  text-align: left;
  margin: 20px 0px 5px 0px;
}

.profileWp span {
  font-size: 12px;
  color: #a3a3a3;
  text-align: left;
  display: block;
  line-height: 18px;
}

.edit-but-orange {
  border: 1px solid #F68933;
  border-radius: 20px;
  color: #F68933;
  font-size: 12px;
  background: #fff;
  padding: 2px 20px;
  margin-top: 10px;
}

.edit-but-orange:hover,
.edit-but-orange:focus {
  border: 1px solid #F68933;
  background: #fff;
  color: #F68933;
}

.phone_wp {
  line-height: 14px;
}

.phone_wp img {
  float: left;
  margin-right: 10px;
  margin-bottom: 24px;
}

.phone_wp h4 {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #626364;
  font-weight: normal;
  padding-bottom: 6px;
}

.phone_wp span {
  font-size: 10px;
  color: #a3a3a3;
  font-weight: bold;
}

.phone_wp span a {
  font-size: 14px;
  color: #F68933;
  font-weight: normal;
}

.visibleWp h4 {
  font-size: 14px;
  color: #000000;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}


.visibleBtnWp span.onOffTxt {
  font-size: 14px;
  color: #000;
  font-weight: normal;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 16px;
  float: left;
  margin-top: 3px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a4a4a4;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #d48342;
}

input:focus+.slider {
  box-shadow: 0 0 1px #d48342;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-group label {
  font-size: 14px;
  font-weight: normal;
  color: #000;
}

.form-group select.form-control {
  border-radius: 0;
  padding: 6px 6px;
  font-weight: bold;
  color: #000;
}

.form-group button.btn-light {
  background: #fff;
  width: 100%;
  text-align: left;
  border: solid 1px #ccc;
  border-radius: 0;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.form-group button.btn-light img {
  padding-top: 5px;
}

.opacity {
  opacity: 0.5;
}

.modules-layout {
  font-size: 16px;
  color: #000;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

.modules-layout a {
  color: #000;
}

.myNotesWp {
  font-size: 10px;
  color: #a3a3a3;
  font-weight: normal;
}

.textRight {
  text-align: right;
}

.myNotesDetails p {
  font-size: 14px;
  color: #4c4c4c;
  font-weight: normal;
  margin-top: 5px;
  /* margin: 10px 0px; */

}

/* Login page Custom checkbox css Beginning here */

.containerBox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  /* background-color: #eee; */
  border: solid 2px #fff;
}

/* On mouse-over, add a grey background color */
.containerBox:hover input~.checkmark {
  /* background-color: #ccc; */
}

/* When the checkbox is checked, add a blue background */
.containerBox input:checked~.checkmark {
  /*  background-color: #2196F3; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerBox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerBox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Login page Custom checkbox css ind here */


/* Inner page Custom checkbox css beginning here */

.containerBoxCustom {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000;
}

/* Hide the browser's default checkbox */
.containerBoxCustom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmarkCustom {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  /* background-color: #eee; */
  border: solid 1px #F68933;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkCustom:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerBoxCustom input:checked~.checkmarkCustom:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerBoxCustom .checkmarkCustom:after {
  left: 2px;
  top: 2px;
  width: 10px;
  height: 10px;
  border-width: 2px 2px 2px 2px;
  background: #F68933;
}

/* Inner page Custom checkbox css end here */


.recent-wp .icon-wp {
  width: 40px;
  height: 30px;
  float: left;
  border-right: solid 1px #e4e4e4;
  padding: 2px 15px 2px 0px;
  margin: 8px 10px 8px 0px;
}

.recent-wp span {
  float: left;
  padding-top: 8px;
}

.calendar-head {
  background: #dfe0e0;
  box-shadow: 0px 1px 2px #dadada;
  border-radius: 3px 3px 0px 0px;
  padding: 14px 25px;
  margin: 10px 0px 0px 0px;
}

.calendar-head img {
  margin: -5px 7px 0px 0px;
}

.calendar-head span {
  font-size: 18px;
  font-weight: bold;
  color: #005295;
}

.paddingRight {
  padding-right: 32px
}

.passwordRequirements h5 {
  font-size: 12px;
  /* color: #a3a3a3; */
  font-weight: normal;
  color: #000;
  opacity: 0.8;
  margin: 0px 0px 5px 0px;
}

.passwordRequirements ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.passwordRequirements ul li {
  background: url(../images/check-default.svg) no-repeat left;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  line-height: 18px;
  /* opacity:0.8; */
  color: #585858;
  margin: 0;
  padding: 0px 0px 0px 25px;
}

.passwordRequirements ul li.valid {
  background: url(../images/check-green.svg) no-repeat left;
}

.modal-body label.rememberM {
  color: #000;
}

.modal-body .checkbox {
  position: relative;
  display: block;
  margin-top: 0px;
  margin-bottom: 10px;
}


.btn-a-z {
  background: #Fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  border-radius: 2px;
  width: 100%;
  border: solid 1px #cecece;
}

.btn-a-z:focus,
.btn-a-z:hover {
  background: #F68933;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  border-radius: 2px;
  width: 100%;
  border: solid 1px #cccccc;
}

.activeAz {
  background: #F68933;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  border-radius: 2px;
  width: 100%;
  border: solid 1px #cccccc;
}

.topAgent_wp {
  padding: 6px 15px;
  -webkit-box-shadow: 0 8px 8px -4px rgba(46, 61, 73, .2);
  -moz-box-shadow: 0 8px 8px -4px rgba(46, 61, 73, .2);
  box-shadow: 0 8px 8px -4px rgba(46, 61, 73, .2);
}

.topAgent_wp img {
  width: 18px;
  margin-right: 6px;
}

.topAgent_wp span {
  font-size: 10px;
  font-weight: normal;
  color: #000;
}

.buttonFooter_wp {
  background: #fff;
  padding: 20px 15px;
  -webkit-box-shadow: 0 -5px 8px -4px rgba(46, 61, 73, .2);
  -moz-box-shadow: 0 -5px 8px -4px rgba(46, 61, 73, .2);
  box-shadow: 0 -5px 8px -4px rgba(46, 61, 73, .2);
}

.positionFixed {
  position: fixed;
  bottom: 0;
}

.footerBtn,
.footerBtn:focus,
.footerBtn:hover {
  background: #F68933;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  border: 0;
}

.btnInactive,
.btnInactive:focus,
.btnInactive:hover {
  background: #707070;
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.5);
}

.button,
.button:focus,
.button:hover {
  background: #F68933;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: auto;
  border-radius: 6px;
  border: 0;
}

.buttonFooter_wp img {
  margin-right: 10px;
}

.statusInd_wp {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  float: left;
  padding: 1px 0px 0px 7px;
  margin-right: 10px;
}

.bgRed {
  background: #ff0000;
}

.bgYellow {
  background: #efbf00;
}

.bgGreen {
  background: #06b80c;
}

.openAlert span {
  color: #000;
  opacity: 0.8;
}

.openAlert span.expDate {
  font-size: 12px;
  font-weight: normal;
  color: #000;
  opacity: 0.5;
  float: right;
}

.alertType_wp h4 {
  margin-top: 15px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.5;
}

.alertType_wp h4.fontColor {
  opacity: 1;
}

.alertType_wp span {
  font-size: 14px;
  font-weight: normal;
  color: #000;
}

.alertType_wp span.severityRed {
  font-weight: bold;
  color: #ff0000;
}


.showMoreBtn {
  color: #F68933 !important;
  font-size: 12px;
  font-weight: bold;
  float: right;
  border: 0;
  background: none;
}

.markAlertMsg {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  opacity: 0.5;
}

textarea:focus,
input:focus,
button.edit-but-orange:focus,
button:focus {
  outline: none !important;
}

#emailNocId .rememberM,
#downLoadPdfPopup .rememberM,
#auditsDetailsCompletedPopup .rememberM,
#auditsDetailsQueuedPopup .rememberM,
#assignedToPopup .rememberM,
#downLoadPdfPopup .rememberM,
#markAlert .rememberM {
  color: #626364;
  font-size: 14px;
  font-weight: normal;
}

#emailNocId .checkbox label::before,
#downLoadPdfPopup .checkbox label::before,
#auditsDetailsCompletedPopup .checkbox label::before,
#auditsDetailsQueuedPopup .checkbox label::before,
#assignedToPopup .checkbox label::before,
#filterPopupClaims .checkbox label::before,
#markAlert .checkbox label::before {
  border: 1px solid #F68933;
}

.textRight {
  float: right;
}

.borderDashed {
  border-bottom: dashed 1px #707070;
  width: 54%;
  padding-top: 9px;
  float: right;
}



.textDoller {
  color: #000 !important;
  font-size: 16px !important;
  font-weight: bold !important;
  opacity: 0.5;
}

.agentDetailTable table {
  width: 100%;
  border: 0;
  font-size: 14px;
}

.agentDetailTable table th {
  color: #000;
  opacity: 0.5;
  padding: 5px;
}

.agentDetailTable table th:nth-child(2) {
  text-align: right;
}

.agentDetailTable table td:first-child {
  border-right: solid 1px #a3a3a3;
}

.agentDetailTable table td:nth-child(2) {
  text-align: right;
}

.agentDetailTable table td {
  border-bottom: solid 1px #a3a3a3;
  padding: 5px;
}

.agentDetailTable table td span {
  font-weight: bold;
}


.agentTableOther table {
  width: 100%;
  border: 0;
  font-size: 14px;
}

.agentTableOther table th {
  color: #000;
  opacity: 0.5;
  padding: 5px;
}

.agentTableOther table th:nth-child(2) {
  text-align: left;
}

.agentTableOther table td:first-child {
  border-right: solid 1px #a3a3a3;
}

.agentTableOther table td:nth-child(2) {
  text-align: left;
}

.agentTableOther table td {
  border-bottom: solid 1px #a3a3a3;
  padding: 5px;
}

.tableFixedHeight {
  height: 60px;
  overflow: hidden;
}

.topHeadingComp {
  position: relative;
  margin: 10px 0px;
}

.topHeadingComp hr {
  height: 1px;
  background: #000;
  margin: 0;
  opacity: 0.3;
}

.topHeadingComp span {
  position: absolute;
  left: 0;
  bottom: -7px;
  font-size: 12px;
  background: #fff;
  padding-right: 6px;
}

.greenIcon {
  width: 14px;
  height: 14px;
  background: #06B80C;
  border-radius: 50%;
  float: left;
  margin: 3px 5px 0px 0px;
}

.colorGreen {
  color: #06B80C !important;
}

.notificationCtrl p {
  font-size: 11px;
  padding: 0px 15px;
}

.minTxt {
  font-size: 10px !important;
}

.dismissBtn a {
  font-weight: bold;
  color: #F68933;
}

.dismissBtn a:hover {
  color: #F9AD72;
}

.searchFixed {
  position: fixed;
  top: 63px;
  width: 100%;
  padding-top: 15px;
  background: #F2F2F2;
}

.tabIndcation {
  padding: 0px 15px;
}

.tabIndcation .topAgent_wp img {
  float: left;

}

.tabIndcation .topAgent_wp span.agentName {
  white-space: nowrap;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.tabIndcation .topAgent_wp span {
  line-height: 20px;
}

.agent-detail h4.topAgentsName {
  float: left;
  width: 84%;
}

.agent-detail a.favouritIconPosition {
  float: right;
}

input:-internal-autofill-selected,
input:-internal-autofill-selected {
  background-color: rgb(255, 255, 255) !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

.objectivesWp {
  margin: 0px;
  padding: 0px;
  text-align: right;
}

.objectivesWp a {
  font-size: 12px;
  color: #F68933;
  font-weight: bold;

}

.addNoteBtn,
.addNoteBtn:focus,
.addNoteBtn:hover {
  background: #f2f2f2;
  color: #F68933;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  border: 0;
  border: solid 2px #F68933;
}


.monthSelectorWp {
  position: relative;
  margin: 10px 0px;
}

.monthSelectorWp hr {
  height: 1px;
  background: #000;
  margin: 0;
  opacity: 0.2;
}

.monthSelectorWp span {
  position: absolute;
  right: 0;
  bottom: -8px;
}

.monthSelectorWp span a {
  font-size: 14px;
  color: #F68933;
  font-weight: bold;
  padding-right: 6px;
  padding-left: 12px;
  background: #F2F2F2;
}



.yearSelectorWp {
  position: relative;
  margin: 10px 0px;
}

.yearSelectorWp hr {
  height: 1px;
  background: #707070;
  margin: 0;
  opacity: 0.2;
}

.yearSelectorWp span {
  position: absolute;
  left: 0;
  bottom: -9px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  background: #fff;
  padding-right: 10px;
}


.monthSelectorTable {
  margin: 0;
  padding: 0;
}

.monthSelectorTable table {
  width: 100%;
}

.monthSelectorTable table td {
  width: 50%;
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px 0px;
}

.monthSelectorTable table td.activeMonth {
  font-size: 14px;
  font-weight: bold;
  color: #F68933;
}

.feedbackWp {
  width: 50px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.feedback-detail {
  font-size: 10px;
  color: #F68933;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.feedbackNoWp {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 2px;
  font-size: 10px;
  color: #F68933;
  font-weight: bold;
  padding: 1px 0px 0px 0px;
  background: #fff;
  border: solid 2px #F68933;
}

.feedback-request {
  margin: 0;
  padding: 0;
}

.feedback-request img {
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
}

.feedback-request h4 {
  font-size: 12px;
  font-weight: bold;
  color: #F68933;
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.feedback-request span {
  font-size: 10px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6)
}

.emailIconBtn {
  font-size: 10px;
  color: #F68933;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

.emailIconBtn a {
  color: #F68933;
}

.imgWidth {
  width: 20px;
}

.calenderPosition {
  position: relative;
}

.calenderPosition button.add-btn {
  position: absolute;
  right: 0px;
  top: 26px;
  width: 32px;
  height: 32px;
  padding: 0;
}

.editTag-wp {
  margin: 0px;
  padding: 0px;
  text-align: right;
  margin-top: 8px;
}

.editTag-wp a {
  color: #F68933;
}

.editTag-wp a span {
  font-size: 11px;
}

.editTag-wp a:hover {
  opacity: 0.8;
}

.modal-header button.delete-btn {
  font-size: 14px;
  color: #F68933;
  font-weight: normal;
  right: 10px;
  top: 8px;
}

.modal-header button.delete-btn:hover {
  opacity: 0.8;
}










.opacity50 {
  color: rgba(0, 0, 0, 0.5) !important;
}

.paddingTop85 {
  padding-top: 115px;
}

.mb-5 {
  margin-bottom: 5px !important;
}


.nospace {
  padding: 0px;
  margin: 0px;
  z-index: 1;
}

.clear,
.clearfix {
  clear: both;
}

.noPadding {
  padding: 0px;
}

.paddingTop5 {
  padding-top: 5px;
}

.paddingTop10 {
  padding-top: 10px;
}

.paddingTop15 {
  padding-top: 15px;
}

.paddingTop25 {
  padding-top: 25px;
}

.paddingTop155 {
  padding-top: 155px;
}

.paddingBottom5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px;
}

.pr-0 {
  padding-right: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-35 {
  padding-right: 35px !important;
}

.pr-38 {
  padding-right: 38px !important;
}

.mt-0 {
  margin-top: 0px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.bgWhite {
  background: #fff;
}

.bdr-top {
  border-top: solid 1px #ccc;
}

.btmShadow {
  -webkit-box-shadow: 0 8px 8px -4px rgba(46, 61, 73, .2);
  -moz-box-shadow: 0 8px 8px -4px rgba(46, 61, 73, .2);
  box-shadow: 0 8px 8px -4px rgba(46, 61, 73, .2);
}







/* -------**************------------**************------------ */
/* media query css beginning here */

@media (max-width: 1024px) {
  .cell-bg {
    padding: 14px 25px;
    margin-bottom: 5px;
  }
}

@media (min-width: 992px) {

  .box1 input.form-control {
    background: #fff;
    padding: 20px 0px 20px 0px;
    width: 75%;
    height: 50px;
    margin-bottom: 28px;
    font-size: 14px;
    color: #000;
    border-radius: 0;
    border-left: 0;
  }

  .box1 input.userIcon {
    background: #fff url(../images/username.svg) no-repeat left;
    background-position: 6px;
    margin-bottom: 28px;
    border-right: 0;
    width: 12%;
  }

  .box1 input.passwordIcon {
    background: #fff url(../images/password.svg) no-repeat;
    background-position: 6px;
    margin-bottom: 28px;
    border-right: 0;
    width: 12%;
  }



}

@media (max-width: 992px) {
  .cell-bg {
    padding: 14px 25px;
    margin-bottom: 5px;
  }

  .btn-login,
  .btn-login:focus,
  .btn-login:hover {
    width: 100%;
  }

  button.btn-login {
    width: 100%;
    text-transform: uppercase;
    height: 50px;
  }

  .box1 input[type="email"] {
    width: 100%;
  }

  .box1 input[type="password"] {
    width: 100%;
  }

  .box2 input[type="email"] {
    width: 100%;
  }

  .input-group {
    width: 100%;
  }

  .box1 input.form-control {
    background: #fff;
    padding: 20px 0px 20px 0px;
    width: 94%;
    height: 50px;
    margin-bottom: 28px;
    font-size: 14px;
    color: #000;
    border-radius: 0;
    border-left: 0;
  }

  .box1 input.userIcon {
    background: #fff url(../images/username.svg) no-repeat left;
    background-position: 6px;
    margin-bottom: 28px;
    border-right: 0;
    width: 6%;
  }

  .box1 input.passwordIcon {
    background: #fff url(../images/password.svg) no-repeat;
    background-position: 6px;
    margin-bottom: 28px;
    border-right: 0;
    width: 7%;
  }


}


@media (max-width: 768px) {
  .cell-bg {
    padding: 14px 25px;
    margin-bottom: 5px;
  }

  .btn-login,
  .btn-login:focus,
  .btn-login:hover {
    width: 100%;
  }

  button.btn-login {
    width: 100%;
    text-transform: uppercase;
    height: 50px;
  }

  .box1 input[type="email"] {
    width: 100%;
  }

  .box1 input[type="password"] {
    width: 100%;
  }

  .box2 input[type="email"] {
    width: 100%;
  }

  .input-group {
    width: 100%;
  }

  #shareMyVcard {
    margin-top: 40%;
  }

  #filterPopup {
    margin-top: 20%;
  }

  #editTagsPopup {
    margin-top: 20%;
  }

  #addEventModal {
    margin-top: 5%;
  }

  .paddingTop85 {
    padding-top: 90px;
  }

  .agent-detail h4.topAgentsName {
    float: left;
    width: 72%;
  }

  .box1 input.form-control {
    background: #fff;
    padding: 20px 0px 20px 0px;
    width: 90%;
    height: 50px;
    margin-bottom: 28px;
    font-size: 14px;
    color: #000;
    border-radius: 0;
    border-left: 0;
  }

  .box1 input.userIcon {
    background: #fff url(../images/username.svg) no-repeat left;
    background-position: 6px;
    margin-bottom: 28px;
    border-right: 0;
    width: 10%;
  }

  .box1 input.passwordIcon {
    background: #fff url(../images/password.svg) no-repeat;
    background-position: 6px;
    margin-bottom: 28px;
    border-right: 0;
    width: 10%;
  }



}


@media (max-width: 478px) {
  .checkBoxWp {
    margin: 0px 0px 30px 0px;
  }

  .box2 {
    padding-top: 50px;
  }

  .forgotpass {
    color: #fff;
    text-align: center;
  }

  .mb-menu {
    float: left;
    margin-left: 10px;
  }

  .nospace {
    padding: 0px;
    margin: 0px;
  }

  .cell-bg {
    padding: 17px 25px;
    margin-bottom: 5px;
  }

  s.sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }

  .box1 input.form-control {
    background: #fff;
    padding: 20px 0px 20px 0px;
    width: 87%;
    height: 50px;
    margin-bottom: 28px;
    font-size: 14px;
    color: #000;
    border-radius: 0;
    border-left: 0;
  }

  .box1 input.userIcon {
    background: #fff url(../images/username.svg) no-repeat left;
    background-position: 6px;
    margin-bottom: 28px;
    border-right: 0;
    width: 13%;
  }

  .box1 input.passwordIcon {
    background: #fff url(../images/password.svg) no-repeat;
    background-position: 6px;
    margin-bottom: 28px;
    border-right: 0;
    width: 13%;
  }







}
