<div class="tab-content app-bg3">
  <div id="profileSettings" class="tab-pane fade in active">
    <div class="row">
      <div class="col-xs-12 col-md-12 profileWp">
        <div class="profile-pic-wp">
          <img [src]="userImg" placeholder="../../../../../images/placeholder.png" onerror="this.src='../../../../../images/placeholder.png'" alt=""
            (click)="onEditProfilePicClick()">
        </div>
        <h4>{{userProfileModel.name}}</h4>
        <span>
          {{userProfileModel.jobTitle}} <br>
          {{userProfileModel.address1+' '+userProfileModel.address2+' '+userProfileModel.city+' '+userProfileModel.state}}
        </span>
        <a>
          <button type="button" class="btn btn-primary edit-but-orange" (click)="onEditProfileClick()"
            data-toggle="modal" data-target="#editProfileDetails"><img src="../../../../../images/edit-icon.svg" alt="">&nbsp; Edit
            Profile Details</button>
        </a>
      </div>
    </div>

    <div class="clearfix paddingTop15"></div>
    <div class="divider"></div>
    <div class="clearfix paddingTop15"></div>

    <div class="row">
      <div class="col-xs-6 col-md-6">
        <div class="phone_wp">
          <img src="../../../../../images/phone-icon-1.svg" alt=""> &nbsp;
          <h4>Phone 1</h4>
          <span>
            <a (click)="doCall(userProfileModel.phone)">{{userProfileModel.phone}}</a> <br />
            {{userProfileModel.phoneType}}
          </span>
        </div>
      </div>

      <div class="col-xs-6 col-md-6">
        <div class="phone_wp">
          <img src="../../../../../images/phone-icon-2.svg" alt=""> &nbsp;
          <h4>Phone 2</h4>
          <span>
            <a (click)="doCall(userProfileModel.phone2)">{{userProfileModel.phone2}}</a> <br />
            {{userProfileModel.phone2Type}}
          </span>
        </div>
      </div>

    </div>
    <div class="clearfix paddingTop15"></div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="ag-detail-icons">
          <a href=" {{'mailto:'+userProfileModel.email}}" alt=""><img src="../../../../../images/mail-icon.svg" alt=""> &nbsp;
            {{userProfileModel.email}}</a>
        </div>
      </div>
    </div>

    <div class="clearfix paddingTop15"></div>
    <div class="divider"></div>
    <div class="clearfix paddingTop15"></div>

    <div class="row">
      <div class="col-xs-12 col-md-12" *ngIf="userProfileModel.shareable">
        <div class="ag-detail-icons">
          <a alt="" (click)="shareVCard()" data-toggle="modal" data-target="#shareMyVcard"><img
              src="../../../../../images/ic_share_contact.svg" alt=""> &nbsp; Share my vCard</a>
        </div>
      </div>

      <div class="clearfix paddingTop15"></div>

      <div class="col-xs-12 col-md-12">
        <div class="ag-detail-icons">
          <a alt=""><img src="../../../../../images/change_password_icon.svg" alt=""> &nbsp; Change
            Password</a>
        </div>
      </div>

      <div class="clearfix paddingTop15"></div>

      <div class="col-xs-8 col-md-6 visibleWp">
        <h4>Make my vCard visible to others</h4>
      </div>

      <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
        <span class="onOffTxt">Off</span>
        <label class="switch">
          <input type="checkbox" [(ngModel)]="userProfileModel.shareable"
            (ngModelChange)="onShareableStatusChange($event)">
          <span class="slider round"></span>
        </label>
        <span class="onOffTxt">On</span>
      </div>
    </div>


  </div>

  
</div>
