<div class="tab-content app-bg3">
  <div id="profileSettings" class="tab-pane fade in active">
    <div class="row">
      <div class="col-xs-12 col-md-12 profileWp">
        <div class="profile-pic-wp">
          <img src="../../../../../images/profile-pic.jpg" alt="" (click)="onEditProfilePicClick()">
        </div>
        <h4>Bradley K. Johnson</h4>
        <span>
          Senior Sales Excutive <br>
          7345 S. Pechos Rd. Nevada
        </span>
        <a>
          <button type="button" class="btn btn-primary edit-but-orange" (click)="onEditProfileClick()"
            data-toggle="modal" data-target="#myModal"><img src="../../../../../images/edit-icon.svg" alt="">&nbsp; Edit
            Profile Details</button>
        </a>
      </div>
    </div>

    <div class="clearfix paddingTop15"></div>
    <div class="divider"></div>
    <div class="clearfix paddingTop15"></div>

    <div class="row">
      <div class="col-xs-6 col-md-6">
        <div class="phone_wp">
          <img src="../../../../../images/phone-icon-1.svg" alt=""> &nbsp;
          <h4>Phone 1</h4>
          <span>
            <a href="tel:7204341417">720-434-1417</a> <br />
            Mobile
          </span>
        </div>
      </div>

      <div class="col-xs-6 col-md-6">
        <div class="phone_wp">
          <img src="../../../../../images/phone-icon-2.svg" alt=""> &nbsp;
          <h4>Phone 2</h4>
          <span>
            <a href="tel:7204341417">720-434-1417</a> <br />
            Fax
          </span>
        </div>
      </div>

    </div>
    <div class="clearfix paddingTop15"></div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="ag-detail-icons">
          <a href="mailto:bradleykjohnson@abc.com" alt=""><img src="../../../../../images/mail-icon.svg" alt=""> &nbsp;
            bradleykjohnson@abc.com</a>
        </div>
      </div>
    </div>

    <div class="clearfix paddingTop15"></div>
    <div class="divider"></div>
    <div class="clearfix paddingTop15"></div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="ag-detail-icons">
          <a href="#" alt=""><img src="../../../../../images/ic_share_contact.svg" alt=""> &nbsp; Share my vCard</a>
        </div>
      </div>

      <div class="clearfix paddingTop15"></div>

      <div class="col-xs-12 col-md-12">
        <div class="ag-detail-icons">
          <a href="#" alt=""><img src="../../../../../images/change_password_icon.svg" alt=""> &nbsp; Change
            Password</a>
        </div>
      </div>

      <div class="clearfix paddingTop15"></div>

      <div class="col-xs-8 col-md-6 visibleWp">
        <h4>Make my vCard visible to others</h4>
      </div>

      <div class="col-xs-4 col-md-6 visibleBtnWp noPadding">
        <span class="onOffTxt">Off</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
        <span class="onOffTxt">On</span>
      </div>
    </div>


  </div>

</div>
