<mat-dialog-content>
  <div class="modal-header nobord">
    <h3 class="modal-title" id="exampleModalLabel" style="font-weight: bold">{{data.alertTitle}}</h3>
  </div>
  <hr class="logout-hr">
  <div class="modal-body">
    <p>{{data.message}}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions id="DialogButtonGroup" align="end">
  <button matDialogClose="cancel" class="dialogNo" (click)="onNoClick()"
    [mat-dialog-close]="no">{{data.noText}}</button>
  <button matDialogClose="confirm" class="dialogYes" (click)="onYesClick()"
    [mat-dialog-close]="yes">{{data.yesText}}</button>
</mat-dialog-actions>
