<div class="container-fluid nospace">
  
  <div class="container app-bg2">

    <div class="row">
      <div class="col-xs-12 search-box">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Searching in All">
        </div>
        <button type="submit" class="btn btn-default search-btn"></button>
      </div>
    </div>

  </div>
  <div class="bottom-bord"></div>

  <div class="serach-emp">
    <h2><em>It is Empty Here!</em></h2>
    <p><em>Please use the search bar to search for Agents and People or use the filter button to alter search
        attributes</em></p>
  </div>
</div>
