<div class="container-fluid nospace">
  <div class="container nav-bg">
    <div class="row">
      <div class="col-xs-2 toppad"><img src="../../../../images/back-btn.svg" alt="" (click)="goBack()"></div>
      <div class="col-xs-8 text-center">
        <h1 class="t-agent">13 Month Activity</h1>
      </div>
      <div class="col-xs-2 text-right toppad"><a (click)="onRecentProfileClick()" alt="" data-toggle="modal"
          data-target="#recentAssociatesl"><img src="../../../..//images/baseline-history.svg" alt=""></a></div>
    </div>
  </div>
  <div class="container app-bg2">
    <div class="row">

      <ul>
        <li *ngFor="let item of associatesModels">
          <div class="col-xs-12 col-md-6 cell-bg">
            <div class="agent-detail-associates">
              <div class="dp">
                <img src="../../../../images/ic_note_profile.svg" alt="" />
                <div class="dpProfile_wp proActiBg">A</div>
              </div>
              <h4>{{item.dispName}} <span>({{item.personID}})</span></h4> <span>{{getAddress(item)}}</span> <span
                class="date">4-4-2018</span>
              <div class="clearfix"></div>
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <div class="associatAgentName"><img src="../../../../images/baseline-business-24px.svg" alt="" />
                    <span>{{item.agentName}}</span></div>
                </div>
              </div>

            </div>
          </div>
        </li>
      </ul>
      <div class="row" *ngIf="moreDataAvailable">
        <div class="col-xs-12 col-md-12 loadMoreWp">
          <hr />
          <div class="loadMore"><a alt="Load More" (click)="onLoadMoreClick()" >Load More</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-recent-profile-dialog></app-recent-profile-dialog>
